header{
background-color: rgb(28, 219, 155);
color: rgb(253, 255, 251);
width: 100%;
height: 30%;
text-align: center;
}

header a{
color: white;
}
.body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
height: 100%;
align-items: center;
}
.container a{
color: hsl(217, 31, 80);
text-decoration: none;
font-size: 30;
padding: 10px;
height: 50px;

}
.container a:not(#submit_btn a){
color: hsl(217, 31, 80);
text-decoration: none;
font-size: 30;
padding: 10px;
height: 50px;
}
.container a:not(#submit_btn a):hover{
background-color: rgb(141, 147, 165);
padding: 10px;
color: black;
border-radius: 5%;
}

#submit_btn{
background-color: hwb(190 16% 27%);
padding: 7px;
font-size: 15px;
color: white;
border-radius: 12px;
transition: all ease-in-out;
}

#submit_btn:hover{
background-color: rgb(22, 210, 147);
color: black;
}

nav:not(footer){
background-color: rgb(37, 184, 115);
float: left;
width: 20%;
height :600px; 
margin-top: auto;
justify-content:center;
align-items: center;
}
nav ul{
list-style: none;
}
nav ul:hover{
background-color: rgb(41, 39, 39) ;
padding: 7px;
}
nav ul a{
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 20px;
}
article{
background-color: rgb(48, 169, 169);
border-color:fill 0 linear-gradient(#0001, #000);
float:left ;
width: 75%;
height: 600px;
padding-left: 5%;
overflow: hidden;
}

.gallery {
align-items: center;
margin: 12px auto;
width: 60%;
height: 100%;
float: right;
}

.image-container{
width: 140px;
height: 140px;
margin-left: 12px;
transform-style: preserve-3d;
transform: perspective(1000px) rotateY(0deg);
transition: transform 0.7s;
justify-content: center;
align-items: last baseline;
right: 100%;
}

.image-container span {
position: absolute;
top: 0;
left: 12%;
width: 90%;
transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
position: absolute;
left: 0;
top: 0;
width: 90%;
}

.btn-container {
display: flex;
justify-content: space-between;
margin-top: 16px;
justify-content: left;
align-items: first baseline;
gap: 12%;
}

.btn {
padding: 10px 15px;
background-color: #007bff;
color: white;
border: none;
cursor: pointer;

}

#prev {
order: 1;
}

#next {
order: 2;
}
footer{
background-color: rgb(28, 219, 155);
text-align: center;
color: white;
width: 100%;
height: 16%;
gap: 10;
font-size: large
}

footer a{
color: white;
text-align: center;
justify-content: center;
}

